body {
    text-align:center;
}
.body { 
  background-color: #E6E6E6;
}
select{
	background: #FFFFFF;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  width: 104px;
  height: 26px;
}
select:hover{
	background-color: #ddd;
}
button {
  background: #ED001D;
  border: 1px solid #ED001D;
  border-bottom: 1px solid #660000;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 16px;
  height: 41px;
  width: 100px;
  position: absolute;
  text-transform: uppercase;

}
button:hover {
    opacity:.85;
    cursor: pointer; 
}
p{
  margin: 0;
}

div{
  display: inline-block;
}
.contenedor {
  position: relative;
  width: 443px;
  height: 397px;

}

div.contenedor .ventanas{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 420px;
  height: 270px;
  left: 10px;
  top: 95px;
  overflow: hidden;
  z-index: 10;
  margin-top: 15px;
  background-color: #CCCCCC;
}
div.contenedor .ventanas div{
  overflow: auto;

}
ul#pestanas{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 10px;
  top: 90px;
  background-color: #CCCCCC;
  z-index: 20;
}
ul#pestanas li{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
}
ul#pestanas li a{
  display: block;
  .display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.contenedor input{
	font-size: 22px;

}

.ivalor, .ivalor2 {
  height:31px; 
  width:161px; 
  position: absolute;
  top: 90px;
  left: 40px;
}
.inombre{
  height:31px; 
  width:240px; 
  position: absolute;
  top: 50px;
  left: 40px;

}

.iprestamo {
  width: 104px;
  height: 26px;
  font-size: 30px;
  position: absolute;
  top: 130px;
  left: 40px;
}
.ifecha1 {
  width: 80px;
  height: 26px;
  position: absolute;
  font-size: 18px !important;
  top: 200px;
  left: 40px;
}
.ifecha2 {
  width: 80px;
  height: 26px;
  position: absolute;
  font-size: 18px !important;
  top: 200px;
  left: 160px;
}
.vcuota {
  width: 104px;
  height: 26px;
  position: absolute;
  top: 40px;
  left: 290px;
}

.contenedor #icalcular, #icalcular2, #print{
  top: 160px;
  left: 290px;
}
.contenedor #iborrar, #iborrar2, #iborrar3{
  top:210px;
  left: 290px;
}

.contenedor .image {
  position: absolute;
  width: 231px;
  height: 41px;
  top:  10px;
  left: 110px;
  padding-top: 20px;

}
.contenedor #cuota {
  position: absolute;
  top: 40px;
  left: 290px;

}
.contenedor .c {
  position: absolute;
  top: 16px;
  left: 290px;

}
.contenedor .i {
  position: absolute;
  top: 80px;
  left: 290px;

}
.contenedor .v {
  position: absolute;
  top: 60px;
  left: 40px;
  font-size: 22px;
  font-weight: bold;

}
#chxtra .c {
  position: absolute;
  top: 100px;
  left: 40px;

}
#chxtra .f {
  position: absolute;
  top: 180px;
  left: 40px;

}
#chxtra .v {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 22px;
  font-weight: bold;

}
#chxtra .entre {
  position: absolute;
  top: 206px;
  left: 138px;

}
#chxtra .ci {
  top: 100px;
  left: 260px;
  width: 160px;
  font-size: 38px;

}
.contenedor #interes , #tc {
  position: absolute;
  top: 100px;
  left: 290px;

}
.contenedor .ci, #ci2{
  position: absolute;
  color: #000000;
  font-size: 60px;
  width: 230px;
  height: 70px;
  left: 40px;
  top: 180px;
}


.index{
  width: 100%;
  margin: 0 auto 0 auto;
  font-family: "Arial";
}
